header {
  max-width: 1220px;
  margin: 20px auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options ul {
  display: flex;
  list-style: none;
  column-gap: 20px;
}
.options ul li {
  display: flex;
  column-gap: 5px;
  align-items: center;
  cursor: pointer;
  color: rgb(26, 26, 26);
  transition: color 0.5s;
}
.options ul li:hover {
  color: rgb(83, 83, 83);
}
.logo {
  cursor: pointer;
}
